{% extends "base.html" %}

{% block head %} 
{{ super() }}
{% endblock %}

{% block body %}

{% block header %}
{{ super() }}
{% endblock header %}

{% block content %}
<form action="#" method="POST">
    <label for="name">Nom de la vidéo</label>
    <input type="text" name="name">
    <label for="chaine">Nom de la chaîne youtube</label>
    <input type="text" name="chaine">
    <select name="menu" id="catégorie">
        <option value="Python">Python</option>
        <option value="Cloud">Cloud</option>
        <option value="Docker">Python</option>
        <option value="Javascript">Javascript</option>
    </select>
    <label for="url">URL de la vidéo</label>
    <input type="text" name="url">
    <label for="description">Description de la vidéo</label>
    <textarea type="text" name="description" rows="5" cols="50"></textarea>
    <input type="submit" value="Submit">
</form>

{% endblock %}
{% endblock %}
{% block footer %}

{% endblock footer %}