{% extends "layout/base.html" %}

{% block head %} {% endblock %}

{% block body %}

{% block header %}
<div class="navbar" style="display: flex; justify-content:space-between">
    <h1 style="color: white;">Tuto Simplon</h1>
    <div class="dropdown" style="display: flex;">
        <button class="dropbtn">Categeories
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/sections/cloud/">Cloud</a>
            <a href="/sections/docker/">Docker</a>
            <a href="/sections/python/">Python</a>
            <a href="#">All</a>
        </div>
    </div>
</div>
{% endblock header %}
{% block content %}
<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="img1.jpg" style="width:100%">
        <div class="text"></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="img2.jpg" style="width:100%">
        <div class="text"></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="img3.jpg" style="width:100%">
        <div class="text"></div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

{% endblock content %}

{% block footer %}

{% endblock footer %}
{% endblock body %}