{% extends "base.html" %}

<!-- DOCKTYPE, meta, title, link-->
{% block head %} {% endblock %}

<!-- not sure I need it -->
{% block body %}

<!-- for the navbar which is same for our pages -->
{% block header %}

<!-- to base.html -->
<!-- do we use iframe to embed videos? -->
    <section> 
        <h1>{{ Name of the section }}</h1>
        <div class="container"> <!-- USE FLEX CSS-->
            <div class="videos">
                <!-- <iframe src="#" width="" height=""></iframe> -->
            </div>
            <div class="videos">
                <!-- <iframe src="#" width="" height=""></iframe> -->
            </div>
            <div class="videos">
                <!-- <iframe src="#" width="" height=""></iframe> -->
            </div>
            <div class="videos">
                <!-- <iframe src="#" width="" height=""></iframe> -->
            </div>
            <div class="videos">
                <!-- <iframe src="#" width="" height=""></iframe> -->
            </div>
            <div class="videos">
                <!-- <iframe src="#" width="" height=""></iframe> -->
            </div>
            <div class="videos">
                <!-- <iframe src="#" width="" height=""></iframe> -->
            </div>
            <div class="videos">
                <!-- <iframe src="#" width="" height=""></iframe> -->
            </div>
        </div>
    </section>
