{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
{% block header %}
{{ super() }}
{% endblock header %}
{% block content %}
    <div class="mydata">
        {% for i in result %}
        <div id="title"> {{ i[1] }} </div>
        <iframe width="560" height="315" src= {{ i[3] }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>{{ i[3] }}</p>
        <div id="chaine"> {{ i[2] }} </div>
        <p id="description">{{ i[4] }}</p>
        {% endfor %}
    </div>
{% endblock content %}
{% block footer %}
    {{ super() }}
{% endblock footer %}
{% endblock body %}
